# Kconfig - nRF52 Light Switch board configuration
#
# Copyright (c) 2016 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: Apache-2.0

config  BOARD_NRF52_LIGHT_SWITCH
	bool "nRF52-LIGHT_SWITCH"
	depends on SOC_NRF52832_QFAA
