# Kconfig - nRF52 Light Switch board configuration
#
# Copyright (c) 2016 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: Apache-2.0

config  BOARD_LIGHT_SWITCH_P1
	bool "LIGHT_SWITCH_P1"
	depends on SOC_NRF52832_QFAA
